<section>
  <div class="row">
    <div class="col-lg-4 col-xs-12">
      <div class="container-fluid pt20">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title subtituloPagina">GALERIA</h5>
            <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la
              mayor parte del contenido de la tarjeta.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta possimus praesentium eos maiores fuga
              odio, assumenda doloribus eum, quam vel tempore amet inventore veritatis! Sequi laudantium atque maiores
              qui consequuntur? </p>
            <a href="#" class="btn btn-success">mas Informacion</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-xs-12">
      <div class="container-fluid pt20">
        <img alt="Foto Galeria" src="../../../assets/fondos/image11.jpg"/>
      </div>
    </div>
  </div>
</section> 
