<section>
  <div class="container mt20">
    <div class="row">
      <div class="col-lg-9 col-xs-12">
        @if(errorMessage){
          <app-errormessage [errorMessage]="errorMessage"></app-errormessage>
        }
        <div class="row">
          @if((blogResults$ | async); as resultObject){
            @for (item of resultObject; track $index) {
              <app-articulo-item class="col-lg-4" [blogInfo]="item"></app-articulo-item>
            }
          }
        </div>
      </div>
      <div class="col-lg-3 col-xs-12">
        <app-tags></app-tags>
      </div>
    </div>
  </div>
</section>


