


<section>
  <div class="container mt20">
    <div class="row">
      <div class="col-lg-9 col-xs-12">
        <app-logo></app-logo>
        <h2>Política de privacidad</h2>
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque distinctio a impedit in itaque provident, nobis iure rem nihil? Consequatur eveniet repudiandae saepe maxime expedita provident dolores iure quas? Ipsum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque ut incidunt libero aperiam earum, nisi quos quo, ratione corporis illo cumque. Facere explicabo architecto et animi mollitia quis harum voluptatem?</p>
        </div>
<!--         <section>
        </section> -->
      </div>
      <div class="col-lg-3 col-xs-12">
        <!-- <app-latestarticles></app-latestarticles> -->
      </div>
    </div>
  </div>
</section>