h2{
  margin-top: 30px;
  font-size: 39px;
  text-align: center;
}

h3{
  font-size: 16px;
  text-align: center;
}

.p2 {
  padding:.2rem;
}

.m2 {
  margin:.2rem;
}

p{
  font-size: 14px;
  color: #0e0e0e;
  text-align: justify;
}

.tc {
  text-align: center;
}

.trata {
  font-size: 2rem;
  padding: 2rem;
}