<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h1 style="margin-top:50px;margin-left: 50px">
          <img src="/assets/core/{{entorno.logo}}" class="logo" alt="">
          <p style="font-weight: 800;font-size: 50px;margin-bottom:10px">Intranet Proyecto CUBOVerde</p>
          <small style="font-weight: 600">Dashboard
          </small>
        </h1>
      </div>
      <div class="col-lg-3">
        <small>
          <i style="font-size:5em;margin-top:50px;color:#BBB0B0; " class="fa fa-cog fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 small-box bg-info">
        <div class="inner">
          <h3>{{creados}}</h3>
          <p>Articulos Creados</p>
        </div>
        <div class="icon">
          <i class="fas fa-shopping-cart"></i>
        </div>
        <a routerlink="" class="small-box-footer">
          Ver Articulos<i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
      <div class="col-lg-4 small-box bg-success">
        <div class="inner">
          <h3>{{aprobados}}</h3>
          <p>Articulos Publicados</p>
        </div>
        <div class="icon">
          <i class="fas fa-user-plus"></i>
        </div>
        <a routerlink="" class="small-box-footer">
          Ver Articulos <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>
