
<section>
  <div class="container-fluid">
    <div class="pararalelogramo fondob der posinic"></div>
    <div class="pararalelogramo fondo1 der l30"></div>
    <div class="pararalelogramo fondog der pos2"></div>
    <div class="pararalelogramo fondob der r-150 w70"></div>
    <div class="container frente1"></div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="container-fluid">
          <h2 class="nombrePagina sombraNegra">NOSOTROS</h2>
          </div>
          </div>
          <div class="col-lg-6">
        <!-- <app-cuboverde></app-cuboverde> -->
        <div class="container-fluid pt20 h100">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title subtituloPagina sombraNegra">CUBO VERDE</h5>
              <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la
                mayor parte del contenido de la tarjeta.

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta possimus praesentium eos maiores fuga
                odio, assumenda doloribus eum, quam vel tempore amet inventore veritatis! Sequi laudantium atque maiores
                qui consequuntur? </p>
              <a href="#" class="btn btn-success">mas Informacion</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <video autoplay muted loop id="myVideo">
  <source src="../../assets/1065170830-preview.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video> -->