
<section>
  <div class="container-fluid">
    <div class="pararalelogramo fondob der posinic"></div>
    <div class="pararalelogramo fondo1 der l30"></div>
    <div class="pararalelogramo fondog der pos2"></div>
    <div class="pararalelogramo fondob der r-150 w70"></div>
    <div class="container frente1"></div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="container-fluid">
          <h2 class="nombrePagina sombraNegra">NOSOTROS</h2>
          </div>
          </div>
        <div class="col-lg-6">
        <div class="container-fluid pt20 h100">
          <div class="card">
            <div class="card-body text-center">
              <iframe width="590" height="380" src="https://www.youtube.com/embed/MOqouA-swHU?si=b5TrhhPlbecBWMOx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>